.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;

  color: var(--content-primary);
  max-width: 1224px;
  margin: auto;
}

.container h3 {
  font-weight: bold;
  font-size: 28px;
  margin: 0;
}

.container h2 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

.container p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.icon {
  width: 36px;
  height: 36px;
  color: var(--accent-dark);
  margin-right: 12px;
  display: inline-block;
}

.highlight {
  font-weight: bold;
  color: var(--accent);
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.description {
  text-align: left;
  max-width: 550px;
}

.feature {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.reversed {
  flex-direction: row-reverse;
}

.feature-card {
  background-color: var(--background-primary);
  border-radius: var(--border-radius-large);
  filter: var(--big-shadow);
  padding: 16px;
  margin: 8px 48px 8px 48px;
  flex: 1;
  text-align: left;
  min-height: 230px;
  min-width: 400px;
}

.entry {
  flex: 1;
  display: flex;
}

.search-bar-image {
  width: 500px;
  height: 350px;
  background-image: var(--search-bar-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.packages-image {
  width: 400px;
  height: 350px;
  margin-left: 60px;
  background-image: var(--packages-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-image {
  width: 500px;
  height: 300px;
  background-image: var(--form-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.more-features-container {
  display: flex;
  justify-content: space-between;
}

.small-feature {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px;
}

.small-feature p {
  font-size: 14px;
}

.small-feature-icon {
  color: var(--accent);
  width: 120px;
}

.small-feature-icon > path {
  stroke-width: 1;
}

@media only screen and (max-width: 1224px) {
  .feature {
    flex-direction: column;
    margin-bottom: 50px;
    align-items: stretch;
  }

  .entry {
    flex: none;
  }

  .feature-card {
    margin: 0px 8px 48px 8px;
    min-width: 40px;
  }

  .search-bar-image {
    width: 90%;
    height: 250px;
    margin: auto;
  }

  .packages-image {
    width: 90%;
    height: 200px;
    margin: auto;
  }

  .form-image {
    width: 90%;
    height: 200px;
    margin: auto;
  }

  .more-features-container {
    flex-direction: column;
  }

  .small-feature {
    flex: none;
  }
}
